.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=======================================================*/

@font-face {
  font-family: 'Aeonik-Regular';
  src: local('Aeonik-Regular'),
       url("./fonts/Aeonik-Regular.otf") format("otf")
}

body {
  font-family: Aeonik-Regular
}

@media(max-width:576px){
  .logoImg {
    width: 120px;
  }
}

/*=======================================================*/

main {
  background: rgb(232,201,168);
  background: linear-gradient(350deg, rgba(232,201,168,1) 0%, rgba(122,78,45,1) 25%, rgba(33,45,43,1) 61%); 
  /* height: 600px; */
}
main h1 {
  font-size: 3.5em;
}
@media(max-width:576px){
  main h1 {
    font-size: 2.5em;
  }
}


.mainGrow {
  max-width: 600px;
}
@media(max-width:576px){
  .mainGrow {
    max-width: 400px;
  }
}

/*=====================================================*/
.prodImg img {
  height: 250px;
}
@media(max-width:768px){
  .product {
    flex-direction: column;
    align-items: center;
  }
  .prodImg {
    display: flex;
    justify-content: center;
  }
  .prodImg img {
    height: 200px;
  }
  .description {
    width: 100%;
  }
}
